<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W3.CSS Template</title>

    <link rel="stylesheet" href="./public/css/style.css">
    <!--Fonts-->
    <link rel="stylesheet" href="./public/fonts/fontawesome-free-5.15.4-web/css/all.min.css">
    <script src="./public/fonts/fontawesome-free-5.15.4-web/js/all.min.js"></script>
</head>
<body>
    <!--Header-->
    <div id="header">
        
        <ul id="menu">
            <li><a href="">Home</a></li>
            <li><a href="">Band</a></li>
            <li><a href="">Tour</a></li>
            <li><a href="">Contact</a></li>
            <li>
                <a href="">More</a>
                <ul class="submenu">
                    <li><a href="">Merchandise</a></li>
                    <li><a href="">Extras</a></li>
                    <li><a href="">Media</a></li>
                </ul>
            </li>
        </ul>
        <div class="search-btn">
            <div class="search-icon">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <!--Header-->

    <!--Slider-->
    <div id="slider">
        <div class="content">
            <h3 class="title">Los Angeles</h3>
            <b class="describe">We had the best time playing at Venice Beach!</b>
        </div>
    </div>
    <!--Slider-->

    <!--Content-->
    <div id="content">
        <!--THE BAND-->
        <div class="section">
            <h2 class="section-title">THE BAND</h2>
            <div class="section-slogan">We love music</div>
            <p class="band-describe">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="member-about-list">
                <div class="member-item">
                    <div class="nember-name">Name</div>
                    <img src="../Template/public/img/member/bandmember.jpg" alt="" class="member-img">
                </div>
                <div class="member-item">
                    <div class="nember-name">Name</div>
                    <img src="../Template/public/img/member/bandmember.jpg" alt="" class="member-img">
                </div>
                <div class="member-item">
                    <div class="nember-name">Name</div>
                    <img src="../Template/public/img/member/bandmember.jpg" alt="" class="member-img">
                </div>
            </div>
        </div>
        <!--THE BAND-->

        <!--TOUR DATES-->
        <div class="section">
            <h2 class="section-title">TOUR DATES</h2>
            <div class="section-slogan">Remember to book your tickets!</div>
        </div>
        <!--TOUR DATES-->

        <!--CONTACT-->
        <div class="section">
            <h2 class="section-title">CONTACT</h2>
            <div class="section-slogan">Fan? Drop a note!</div>
        </div>
        <!--CONTACT-->

        <!--MAP-->

        <!--MAP-->
    </div>
    <!--Content-->

    <!--Footer-->
    <div id="footer">

    </div>
    <!--Footer-->
</body>
</html>